html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
}
* { box-sizing:border-box; }

.clearfix::after{
    content: " ";
    clear: both;
    display: table;
}

/* Sections*/
.section-block{ height:calc(100vh - 8rem); padding:5rem; }
.section-block.not-fullscreen { height:auto; display: inline-block;}
.section-block.oldlace{ background-color: #F8F3E8;} 
.section-block.linho { background-color: #E3DBCC;}
    .section-block h1, .section-block h2{ display:block; margin-bottom: 10rem; text-align:center; font-size:4.8rem; font-weight:600; }
    .section-block h1, .section-block h2{ color: black;}

@media(max-width:767px), (max-wigth:812px) and(orientation:landscape){
    .section-block{ height:auto; min-width:calc(100vh - 8rem); padding:2.5rem; }
    .section-block.not-fullscreen { min-height:0; }
    .section-block h1, .section-block h2 {font-size: 2.8rem; margin-bottom: 5rem;}
}
/* Sections*/

/* Navigation */
header{ position: fixed; top:0; left:0; width:100%; display:flex; justify-content:space-between; align-items:center; height:8rem; padding:0.75rem 5rem; background-color:#FAF6F1; z-index:2;}
    header + * { margin-top:8rem;}   
    .logo{ display:inline-block; }
        .logo > img { width: 6rem; height:6rem; border-radius:50%;}

    .navigation{ display: inline-block; text-align: center;}
        .navigation > a { display: inline-block; margin-right:2rem; font-size:1.7rem; text-decoration:None; color: black; font-weight: 500;}
        .navigation > a:last-child { margin-right:0; }
        .navigation > a:hover { text-decoration:underline;}

@media(max-width:580px){
    header { padding:0.75rem 2.5rem;}
    .navigation > a { margin-bottom:0.5rem;}
}
/* Navigation*/

/* Hero*/

.hero {display:flex; align-items:center; position: relative; padding: 0 5rem 20vh; background-image:url("images/hero.png"); background-position:center; background-repeat:no-repeat; background-size:cover; color: #fff;}
    .hero::before{ content: ""; position:absolute; top:0; left:0; width:100%; height: 80%;}
    .hero h1 {position:relative; z-index:1; text-align: left; color: #745237;font-weight: 300;}
    .hero p { position:relative; z-index:1; font-size:7rem; line-height: 1.3;color: black;font-weight: 900;} 
    
@media(max-width:767px), (max-wigth:812px) and(orientation:landscape){
    .hero{ display: block; padding:5rem 2.5rem;}
    .hero p { font-size: 1.4rem;}
    
}
.cta-button {
    background-color: #745237; /* Culoarea fundalului butonului */
    color: #fff; /* Culoarea textului butonului */
    padding: 10px 20px; /* Spațierea între conținutul butonului și marginea sa */
    border: none; /* Elimină borderul butonului */
    border-radius: 50px; /* Rotunjirea marginilor butonului */
    text-decoration: none; /* Elimină sublinierea textului */
    font-size: 18px; /* Mărimea fontului */
}

.cta-button:hover {
    background-color: #745237; /* Culoarea de fundal la hover */
}

/* Hero*/

/* Pasiunile si proiectele mele*/
.my-passions h1,.my-portofolio h1{ margin-bottom:7.5rem;}
.my-passions-inner-container, .my-portofolio-inner-container { color: black;}
    .my-passions-inner-container h3, .my-portofolio-inner-container h3 { font-size:2.4rem; text-align: center; margin-bottom: 2.5rem; font-weight: 300;}
    .my-passions-inner-container h4, .my-portofolio-inner-container h4 { font-size:3rem; text-align: center; margin-bottom: 0rem; font-weight: 300;color:#745237;}
    .my-passions-inner-container p, .my-portofolio-inner-container p { font-size:1.6rem; text-align: justify; font-weight: 150;}

.skill-section-box > img { width: 15rem; height: 15rem; margin-right: 1.5rem; border-radius: 50%;}

 /* Pasiunile si proiectele mele*/

 /*imagini skill*/

 .my-skills {
    /* Stilurile existente ale secțiunii "my-skills" */
    height: auto;
    display: flex;
    flex-wrap: wrap; /* Permite elementelor să se așeze pe mai multe rânduri dacă nu încap într-un singur rând */
    justify-content: center; /* Centrează elementele pe orizontală */
    padding-top: 0px;
    padding-bottom: 100px; /* Adaugă spațiu în jurul secțiunii */
}

.rubrica-imagini {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto; /* Centrează rubrica pe pagină */
    flex-wrap: wrap; /* Permite elementelor să se așeze pe mai multe rânduri */
}

.imagine-cercuri {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-left:  20px; /* Adaugă spațiu între imagini */
    margin-right:  20px; /* Adaugă spațiu între imagini */
    margin-bottom:  50px; /* Adaugă spațiu între imagini */
}

.imagine-cercuri img {
    max-width: 100%;
    height: auto;
}

/* Recomandation*/
.rec-section-box { height: 21rem; display:flex; align-items: center; color: black;}
    .rec-section-box > img { width: 15rem; height: 15rem; margin-right: 2.5rem; border-radius: 50%;}
    .rec-section-box h3 {display: block; margin-bottom:2rem; font-size: 2.4rem; font-weight: 300;}
    .rec-section-box p {font-size: 1.4rem;font-weight: 150;}

@media(max-width:1023px){
    .rec-section-box{ height:auto; display:block; text-align:center;}
}
/* Recomandation*/

/* About me*/
.about-me { display: block; justify-content:center; align-items: center; height: auto;}
.about-me-inner-container { display: flex; justify-content: space-around; align-items: center; color: black;}
    .about-me-inner-container > img { width: 30rem; height: 30rem; border-radius: 50%; margin-right: 5rem;}
    .about-me-inner-container h3 { font-size: 3.2rem; margin-bottom: 3rem;}
    .about-me-inner-container p { font-size: 2rem;font-weight: 150;}
 
@media(max-width:767px ){
    .about-me-inner-container{ display: block; text-align: center;}
    .about-me-inner-container > img { width: 20rem; height: 20rem; margin-right: 0; margin-bottom: 5rem;}
}
/* About me */

/* Footer */
footer{  display: block; font-size: 1.6rem ; padding: 5rem; color: white; background-color: black;}
footer h3 { display: block; margin-bottom: 4rem; font-size: 2.4rem; font-weight: 300;}
footer address { margin-bottom: 2rem;}
footer a { display: block; }


/* Footer*/

/* Grid */
.grid { width:calc(100% + 5rem); margin:0 -2.5rem; }
    .grid-box { float: left; margin: 0 2.5rem 4rem; }
    .box-full { width:calc(100% - 5rem); }
    .box-half { width:calc(50% - 5rem); }
    .box-half { width:calc(50% - 5rem); }
    .box-third { width:calc(33.33% - 5rem); }
    .box-quarter { width:calc( 25% - 5rem); }

@media(max-width:767px){
    .grid-box { float:left; margin: 0 2.5rem 4rem;}
    .box-half { width:calc(100% - 5rem); }
    .box-third { width: calc(50% - 5rem); }
    .box-quarter { width:calc(33.33% - 5rem); }
}    
@media(max-width:480px){
    .box-half { width:calc(100% - 5rem); }
    .box-third { width: calc(100% - 5rem); }
    .box-quarter { width:calc(100% - 5rem); }
} 
/* Grid */
